.item-tile {
  width: 60px;
  height: 70px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 3px;
  color: white;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.tile-icon {
  width: 28px;
  height: 28px;
  image-rendering: pixelated;
}

.tile-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.wiki-button {
  width: 12px;
  cursor: pointer;
}
